html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(52, 89, 98);
}

.container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  position: relative;
}

.parallax {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bgBack {
  background: url(misfits.jpg);
  height: 1500px;
  transform: translateZ(-2px) scale(3) translateY(-200px);
  opacity: 0.5;
  z-index: -5;
}

.bgFront {
  height: 240px;
  max-width: 800px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  -webkit-text-stroke: 4px rgb(32, 69, 78);
  font-weight: bold;
  font-size: 75px;
  transform: translateZ(0);
  margin: 0 auto;
}

.navBar {
  color: white;
  font-size: 25px;
  max-width: 800px;
  min-width: 600px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 5px;
  margin: 0 auto;
  z-index: 10;
  /* position: relative; */
  /* top: 240px; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2.5px 5px rgb(22, 59, 68);
}

.main {
  max-width: 800px;
  min-width: 600px;
  height: 100%;
  background-color: white;
  display: flex;
  font-size: 50px;
  position: relative;
  top: 270px;
  margin: 0 auto;
  z-index: 1;
  opacity: 0.85;
  border-radius: 5px;
}
