html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(52, 89, 98);
}

.bgContainer {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
}

.parallax {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bgBack {
  background: url(misfits.jpg);
  height: 1500px;
  transform: translateZ(-2px) scale(3) translateY(-200px);
  opacity: 0.5;
  z-index: -5;
}

.bgFront {
  color: white;
  transform: translateZ(0);
  margin-left: 50px;
}

.main {
  width: 80%;
  min-width: 800px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  position: relative;
  top: 250px;
  margin: 0 auto;
  z-index: 1;
  opacity: 0.85;
}
